.ipynb_checkpoints
*.pyc
*.swp
*.DS_Store
.pit*
/.run
/werlog.js
/runs
/logs
/exports
/data/ldc93s1
/native_client/setup.cfg
/native_client/build
/native_client/*.egg-info
/native_client/dist
/native_client/node_modules
/native_client/python/model.py
/native_client/python/utils.py
/native_client/python/model_wrap.cpp
/native_client/python/utils_wrap.cpp
/native_client/javascript/build
/native_client/javascript/client.js
/native_client/javascript/deepspeech_wrap.cxx
#Data
data/quran/wav/*
data/quran/tusers/quran_tusers/*
data/TIMIT/*
/doc/.build/
/doc/xml-c/
/doc/xml-java/
data/quran/quran_all.csv
data/quran/quran_dev.csv
data/quran/quran_test.csv
data/quran/quran_train.csv
